{% extends 'layout.html' %}
{% block content %}
    <h2>「2DK」とは？</h2>
    <p>2DKの特徴的な間取りをパターン別に取り上げ、それぞれのパターンの特徴や住み心地なども解説します。<br>
        また、選び方の基準や、それぞれのパターンにおすすめの家族構成についてもお伝えします。</p>

    <h1 class="text-danger">＜＜作成中＞＞</h1>

    <a href="{% url 'toppage:index' %}{{roomtype}}" class="btn btn-outline-primary">戻る</a>

<!--
    <table  class='table table-bordered font-small' style='table-layout: fixed;'>
        <tr>
            <td class="table-info">物件番号</td><td>{{article.bknNumber}}</td>
            <td class="table-info">現況</td><td>{{article.status}}</td>
        </tr>
    </table>
-->
</div>
{% endblock %}
